body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-top: 20px;
}

.right {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: rgb(66, 217, 255);
}

.inSq {
    box-sizing: border-box;
    border: 1px solid black;
    flex-grow: 1;
    width: 7.8125px;
    height: 7.8125px;
}