body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right {
    width: 500px;
    height: 500px;
    background-color: rgb(66, 217, 255);
}